<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.androidlab.trackme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- TODO Remove Write permission -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="de.tubs.ibr.dtn.permission.RECEIVE"/>
    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION"/>

    <application
        android:icon="@drawable/main_logo"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.TrackMeActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MapActivity"
                  android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.CreditsActivity"
                  android:label="Credits"></activity>
        <activity android:name=".activities.SettingsActivity"
                  android:label="Default settings"></activity>
        <activity android:name=".activities.SettingsDTNTabActivity"
                  android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.SettingsPrivacyTabActivity"
                  android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.RouteListActivity"
                  android:label="Custom selection of routes"></activity>
        <uses-library android:name="com.google.android.maps" android:required="true"/>
        <activity android:name=".activities.SettingsMapTabActivity"
                  android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".activities.SettingsDBTabActivity"></activity>
        
    </application>

</manifest>